<button
  type="button"
  class="btn btn-danger btn-lg position-relative"
  type="button"
  (click)="onTest2($event)"
>
  <i class="las la-exclamation-circle la-5x"></i>
  <h1>NotFound!</h1>
  <h3>No patient history in the HIS System.</h3>
  <h3>Please Contact Registration</h3>

  <svg
    width="3em"
    height="3em"
    viewBox="0 0 16 16"
    class="
      position-absolute
      top-100
      start-50
      translate-middle
      mt-2
      bi bi-caret-down-fill
    "
    fill="#dc3545"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
    />
  </svg>
</button>
