<div
  class="d-flex align-items-center justify-content-center"
  style="padding-bottom:30px"
>
  <img
    src="https://cdn.jsdelivr.net/gh/TheNunHahey/angular-DEV3@main/src/assets/img/user-avatar.png"
    class="rounded-circle"
    alt="Hospital"
    style="width: auto; height: 150px;background-color: transparent;"
  />
</div>
<div
  class="d-flex align-items-center justify-content-center"
  style="padding-bottom:30px"
>
  <h1>Name</h1>
</div>

<div class="container">
  <table
    class="table table-bordered table-striped table-hover"
    id="datatableexample"
  >
    <thead>
      <tr>
        <th>Time</th>
        <th>Date</th>
        <th>Clinic</th>
        <th>Doctor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of data">
        <td>{{ group.AppointDateTimeFrom }}</td>
        <td>{{ group.AppointDateTimeFromShow }}</td>
        <td>{{ group.ClinicLocalName }}</td>
        <td>{{ group.DoctorLocalName }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="text-center" style="margin-top: 20px;">
  <button
    type="button"
    class="btn btn-secondary text-white fw-bold"
    (click)="onTest2($event)"
  >
    <i class="fas fa-backward"></i> Back
  </button>
</div>
