<table
  class="table table-striped table-bordered table-sm row-border hover"
  id="datatableexample"
>
  <thead>
    <tr>
      <th>Time</th>
      <th>Date</th>
      <th>Clinic</th>
      <th>Doctor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of data">
      <td>{{ group.AppointDateTimeFrom }}</td>
      <td>{{ group.AppointDateTimeFromShow }}</td>
      <td>{{ group.ClinicLocalName }}</td>
      <td>{{ group.DoctorLocalName }}</td>
    </tr>
  </tbody>
</table>
<div class="d-flex align-items-center justify-content-center">
  <button type="button" (click)="onTest2($event)">BACK</button>
</div>
