<div
  class="d-flex align-items-center justify-content-center"
  style="padding-bottom:50px"
>
  <h1 class="fw-bold">HOSPITAL</h1>
</div>
<div
  class="d-flex align-items-center justify-content-center"
  style="padding-bottom:50px;"
>
  <img
    src="https://cdn.jsdelivr.net/gh/TheNunHahey/angular-DEV3@main/src/assets/img/logo.png"
    class="rounded-circle"
    alt="Hospital"
    style="width: auto; height: 200px;"
  />
</div>
<div class="d-flex align-items-center justify-content-center">
  <button
    style="background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 200px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border-radius: 50px;"
    type="button"
    (click)="onClick($event)"
  >
    <img
      src="https://cdn.jsdelivr.net/gh/TheNunHahey/angular-DEV3@main/src/assets/img/line_login_base.png"
    />
  </button>
</div>


<div class="row justify-content-md-center">
  <div class="text-center" style="margin-top: 20px;">

      <button type="button" class="btn btn-info text-white fw-bold mb-2" (click)="onTest($event)">
        <i class="fas fa-calendar fa-2xl"></i> Appointment 
      </button>

   
  </div>
  <div class="text-center">
  <button type="button" class="btn btn-primary text-white fw-bold mb-2" (click)="onTest3($event)">
    <span class="font-weight-bold text-white"><i class="fas fa-sign-in-alt fa-2xl"></i> Sing Up
    </span>
 </button>
</div>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
