<div
  class="d-flex align-items-center justify-content-center"
  style="padding-bottom:50px"
>
  <h1>HOSPITAL</h1>
</div>
<div
  class="d-flex align-items-center justify-content-center"
  style="padding-bottom:50px"
>
  <img
    src="https://cdn.jsdelivr.net/gh/TheNunHahey/angular-DEV3@main/src/assets/img/logo.png"
    class="rounded-circle"
    alt="Hospital"
    style="width: auto; height: 250px;"
  />
</div>
<div class="d-flex align-items-center justify-content-center">
  <button
    style="background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;"
    type="button"
    (click)="onClick($event)"
  >
    <img
      src="https://cdn.jsdelivr.net/gh/TheNunHahey/angular-DEV3@main/src/assets/img/line_login_base.png"
    />
  </button>
</div>
<div class="d-flex align-items-center justify-content-center">
  <button type="button" (click)="onTest($event)">TEST1</button> test1 =
  {{ result }}
</div>
<div class="d-flex align-items-center justify-content-center">
  <button type="button" (click)="onTest2($event)">TEST2</button>
</div>
<div class="d-flex align-items-center justify-content-center">
  <button type="button" (click)="onTest3($event)">TEST3</button>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
